[2020-09-29 02:44] edzzn opened #1 "Añadir README"
Cada proyecto open source tiene un archivo README.md en el que se especifica informacion sobre el repositorio, comunidad, etc.  El README es lo primero que veran quienes visiten el repositorio.

Para esta tarea es necesario conocer [Markdown](https://guides.github.com/features/mastering-markdown/) y debes crear un archivo `README.md` escrito en formato Markdown que muestre lo siguiente:

- Present

[2020-09-29 06:33] Anoop01234 commented on #1
Can you guide me what am I suppose to do it?

[2020-09-29 15:39] israteneda commented on #1
We'll provide more information in the coming days

[2020-09-30 02:22] rpalaciosg opened #2 "Crear componente Navbar"
En esta tarea debemos crear el componente Navbar y agregarlo en el Homepage del sitio

![image](https://user-images.githubusercontent.com/11642622/94996882-e4e8c900-056c-11eb-9972-2aeba55bba8a.png)

En el siguiente link esta el prototipo en figma para ver los colores y tamanios de cada item.

https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1

Cualquier inquie

[2020-09-30 02:23] rpalaciosg opened #3 "Crear seccion y componente Cabecera"
En esta tarea es necesario crear la seccion Head justo debajo del componente navbar  en el Home que se solicita en #2

![image](https://user-images.githubusercontent.com/11642622/94996993-c0412100-056d-11eb-9255-a67273a81b15.png)

En el siguiente link esta el prototipo en figma para ver los colores y tamanios de cada item.

https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js

[2020-09-30 02:24] rpalaciosg opened #4 "Crear componente slider en seccion Comunidad en Home"
Crear un componente slider de fotos el cual estara ubicado en la seccion Comunidad en la pagina Home.

![image](https://user-images.githubusercontent.com/11642622/94997140-f03cf400-056e-11eb-94c2-7165f7b06c60.png)

En el siguiente link esta el prototipo en figma para ver los colores y tamanios de cada item.

https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1

[2020-09-30 02:25] rpalaciosg opened #5 "Crear componente Card"
Crear componente tarjeta, para la seccion ciudades en la pagina Home.

![image](https://user-images.githubusercontent.com/11642622/94997504-20859200-0571-11eb-8d34-c36c9ee1d759.png)

En el siguiente link puedes el prototipo en figma para ver los colores y tamanios de cada item.

https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1

Cualquier inquietud puedes com

[2020-09-30 02:25] rpalaciosg opened #6 "Crear sección ciudades"
Crear componente y funcionalidad carrusel de tarjetas(se piden en #5 ) esto esta en la seccion Ciudades de la pagina Home.

![image](https://user-images.githubusercontent.com/11642622/94997536-71958600-0571-11eb-832d-25fe83485e30.png)

En el siguiente link puedes el prototipo en figma para ver los colores y tamanios de cada item.

https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecu

[2020-09-30 02:26] rpalaciosg opened #7 "Crear componente subscribe"
Crear la seccion y componente subscribe en la pagina Home.

![image](https://user-images.githubusercontent.com/11642622/94997589-c76a2e00-0571-11eb-9881-dfd80d963d47.png)

En el siguiente link puedes el prototipo en figma para ver los colores y tamanios de cada item.

https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1

Cualquier inquietud puedes comentarla aqu

[2020-09-30 02:27] rpalaciosg opened #8 "Crear componente seccion de Blog"
Crear seccion y componente Blog en la pagina Home.

- [ ] Crear estructura y disenio del coponente. #91
- [ ] El funcionamiento para la gestion del contenido de este componente sera atravez de archivos Markdown, en este caso usando la funcionalidad del plugin `mdx` de gatsby.
- [ ] El componente debera mostrar los ultimos articulos creados en el blog segun fecha y hora. Ademas del mas leido.
- [ ]

[2020-09-30 02:27] rpalaciosg opened #9 "Crear componente footer"
Crear el footer de la pagina Home.

![image](https://user-images.githubusercontent.com/11642622/94997668-4b241a80-0572-11eb-9e9b-eea2f2e92ca1.png)

En el siguiente link puedes el prototipo en figma para ver los colores y tamanios de cada item.

https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1

Cualquier inquietud puedes comentarla aqui o escribir en el [chat

[2020-09-30 02:28] rpalaciosg opened #10 "Crear página de la lista de entradas del Blog"
Crear blog para el sitio, este tendrá las siguientes funciones las cuales después se pueden dividir en varias tareas incluyendo el diseño de ciertos componentes:

- Mostrar y listar artículos.

![image](https://user-images.githubusercontent.com/11642622/94997751-bec62780-0572-11eb-98d4-e7e73b64aca5.png)

En el siguiente link puedes el prototipo en Figma para ver los colores y tamaños de cada item

[2020-09-30 02:29] rpalaciosg opened #11 "Crear archivo contributing.md"

[2020-09-30 02:34] israteneda opened #12 "Añadir CONTRIBUTING.md"
Añadir un archivo escrito en Markdown que muestra las instrucciones detallas de como contribuir en la página de JavaScript Ecuador

[2020-10-02 20:07] israteneda commented on #12
Añadir un archivo escrito en Markdown que muestra las instrucciones detallas de como contribuir en la página de JavaScript Ecuador

[2020-10-02 20:45] jordanrjdev commented on #1
I am working in this readme

[2020-10-02 20:48] israteneda commented on #1
Genial @jordanrjcode te asignaré este issue

[2020-10-02 22:39] rpalaciosg commented on #12
Agregare una propuesta base para este Issue.

[2020-10-02 22:56] israteneda commented on #12
Genial

[2020-10-03 00:21] rpalaciosg opened #13 "Implementar linter para commits"
Deseamos seguir una convencion estandar como [ConventionalCommits](https://www.conventionalcommits.org/en/v1.0.0/) al momento de escribir mensajes de commit en este repositorio; sobre todo para cuando se este trabajando localmennte en el codigo.

Para eso tenemos pensado usar un linter llamado [commitlint](https://github.com/conventional-changelog/commitlint#getting-started), el cual nos ayudara e

[2020-10-03 15:03] #11 closed, assigned to nobody

[2020-10-03 15:22] #12 closed, assigned to nobody

[2020-10-03 20:06] miguel-rios-r commented on #1
@jordanrjcode por fa, tengo un PR solo con la cabecera del ReadMe, podrías revisarlo y añadir esto al Read me completo que estás creando... te agradecería un montón!!!!

[2020-10-03 21:10] EduardoAyora opened #16 "Agregar guía sobre ConventionalCommits en CONTRIBUTING"
Se puede agregar una guía parecida a [esta](https://www.aunitz.net/conventional-commits/#:~:text=Una%20convenci%C3%B3n%20para%20dar%20significado%20a%20los%20mensajes%20de%20los%20commits&text=El%20mes%20pasado%20dejo%20de,legibles%20para%20m%C3%A1quinas%20y%20humanos.) pero resumida

[2020-10-03 21:12] EduardoAyora commented on #16
yo podría hacerla, si les parece que puede aportar

[2020-10-03 21:21] israteneda commented on #16
Claro estaría genial

[2020-10-03 21:36] EduardoAyora commented on #16
listo, ya lo hago

[2020-10-03 23:22] israteneda commented on #16
Se resolvió en #17 por @EduardoAyora

[2020-10-03 23:22] #16 closed, assigned to nobody

[2020-10-05 02:09] Seburath commented on #9
Hola! esta alguien trabajando en este Issue?

[2020-10-05 02:50] israteneda commented on #9
No Sebas aún no he comenzado con este issue tómalo si deseas :) jajaj voy a trabajar en otro que tengo pendiente

[2020-10-05 03:04] Seburath commented on #9
Dale, gracias!

[2020-10-05 03:11] israteneda opened #19 "Publicar página"
Tenemos que publicar la página con Netlify y si es posible también eliminar el anterior [repo](https://github.com/javascriptecuador/javascriptecuador.github.com) para que no haya confusión

[2020-10-05 03:51] rpalaciosg commented on #19
Si en este caso simplemente se deberia remplazar el repo anterior con este. Para hacerlo tendrias que conectarte con la cuenta Netlify de javascript ecuador y cambiar el repositorio.

Ademas de hacer el deploy en esta tarea se podria crear una guia de como hacer el deploy del sitio en netlify talvez creando un `how-to-deploy.md`

[2020-10-05 04:15] rpalaciosg commented on #3
Esto se resolvio en #18 ?

[2020-10-05 04:19] rpalaciosg commented on #3
@EduardoAyora  esta trabajando en esta tarea.

Adjunto archivos zip con los assets necesarios en esta seccion.

-> [assets header JSEC.zip](https://github.com/javascriptecuador/web/files/5325558/assets.header.JSEC.zip)

[2020-10-05 06:30] rpalaciosg opened #20 "Crear carpeta static para assets"
La carpeta static serviria para poner todos los assets del sitio los cuales seran reconocidos por gatsby por defecto lo que mejora el rendimiento.

[2020-10-05 06:31] #20 closed, assigned to nobody

[2020-10-07 16:00] rpalaciosg opened #22 "Agregar guia para actualizar cambios del Repo principal a los fork"
Es importante siempre hacer un `git pull`  para verificar si hay nuevos cambios en el repo.

En el archivo CONTRIBUTING.md en la guia de como contribuir, falta una guia que explique como actualizar los forks realizados al repo original.

En esta tarea es necesario escribir una pequeña guia que explique  como hacerlo.

Cualquier inquietud puedes comentarla aqui o escribir en el [chat de la comuniad

[2020-10-07 16:38] EduardoAyora commented on #22
Yo lo aprendí con esta guía, por si le sirve de algo al que vaya a resolver al Issue
https://styde.net/actualizar-el-fork-de-un-repositorio-de-github/

Nota: No el video, sino los comandos que están abajo.

[2020-10-07 19:48] rpalaciosg commented on #22
Genial, muchas gracias Eduardo.

[2020-10-07 19:58] #19 closed, assigned to nobody

[2020-10-07 21:58] israteneda opened #24 "La sintaxis de Markdown no se está aplicando"
Al escribir un blog y añadir la numeración no se muestra los números como debería mostrarse solo el texto

![](https://user-images.githubusercontent.com/11642622/95367160-06fa8800-089a-11eb-88a2-0566b27ab9db.png)

Este es el código en Markdown:

[code]

[2020-10-08 03:28] stsewd commented on #24
Parece que esto ya está arreglado :)

https://javascriptecuador.netlify.app/blog/gatsby-deploy/

![Screenshot_2020-10-07 About](https://user-images.githubusercontent.com/4975310/95411564-6bdece00-08ec-11eb-9fbd-aaa020ec88cf.png)

[2020-10-08 16:44] israteneda commented on #24
Si momentáneamente 😅 le pusimos como subtítulos los numerales y no nos reconoce los espacios quisa tenemos que verlo más a  fondo que está pasando

[2020-10-09 20:36] #24 closed, assigned to nobody

[2020-10-09 21:37] rpalaciosg opened #26 "Agregar guia para desplegar y configurar proyecto localmente"
Seria necerario que despues de hacer el fork y clonar el repositorio, agregar una guia que explique como configurar y desplegar el proyecto gatsby localmente.

Si tienes alguna duda o necesitas guia, comentalo por aqui en los comentarios o escribenos al [canal de telegram](https://t.me/javascriptecuador) de la comunidad.

[2020-10-09 22:13] #1 closed, assigned to jordanrjdev

[2020-10-10 02:15] #4 closed, assigned to nobody

[2020-10-10 02:18] israteneda opened #28 "Crear sección comunidad del Home"
![image](https://user-images.githubusercontent.com/20668624/95643430-bbe89c80-0a74-11eb-845d-50094b0c0ce8.png)

Gracias al pull #27 de @cesardlinx ya existe el slider, faltan algunos componentes para terminar la sección de comunidad de la página principal.

[2020-10-10 15:47] skcode7 commented on #26
Me pido este issue para documentar el proceso aprovechando que voy a levantar mi ambiente.

[2020-10-10 15:57] rpalaciosg opened #30 "Crear un Issue Template de Features"
Para tener un standar al momento de rectar un issue solicitando nuevas caracteristicas seria bueno crear un issue-template para tener una pauta de que informacion detallar.

Dejo una guia para hacerlo -> [Configurar template Features Request](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/configuring-issue-templates-for-your-repository)

Si tienes alguna pregunt

[2020-10-10 15:58] rpalaciosg opened #31 "Crear un Issue Template para Bugs/Errores"
Para tener un standar al momento de rectar un issue reportando un **bug/error**, seria bueno crear un issue-template para tener una pauta de que informacion detallar.

Dejo una guia para hacerlo -> [Configurar template Features Request](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/configuring-issue-templates-for-your-repository)

Si tienes alguna pregunta, com

[2020-10-10 16:01] rpalaciosg commented on #28
Genial, entonces podemos cerrar este issue?

[2020-10-10 16:16] israteneda commented on #31
Ya que estamos en estas sería bueno tener un template para el envío de los pull request como el pull que se realiza en #27

[2020-10-10 16:20] israteneda commented on #28
Todavía falta completar la sección comunidad, lo que se tiene hasta ahora es el slider pero estamos cerca 😃

[2020-10-10 16:27] rpalaciosg opened #32 "Crear un Pull Request Template"
Es necesarios seguir una pauta al redactar un `pullrequest` y asi mantener una guia de estilos.

Si tienes alguna pregunta, comentala aqui o escribenos al canal de [Telegram de la comunidad](https://t.me/javascriptecuador)

[2020-10-10 16:48] cesardlinx commented on #28
Yo puedo terminar de crear la sección si es que no hay ningún inconveniente

[2020-10-10 16:58] israteneda commented on #28
Claro estaría genial ya tendríamos más avanzado el home

[2020-10-10 18:53] rpalaciosg commented on #31
Claro ya esta el Issue y le envie un PR, como lo hacen en #27 mas que todo para hacer un `Closes #<issue_id>` y cerrar automaticamente los issues apenas se haga el merge. Por cierto issue #28 ya se puede cerrar?

[2020-10-10 19:13] rpalaciosg commented on #32
Agregue un PR con el template `pull_request_template.md`

[2020-10-10 19:36] #32 closed, assigned to nobody

[2020-10-10 22:47] #28 closed, assigned to nobody

[2020-10-11 00:41] jordanrjdev commented on #7
Me encargo de este issue

[2020-10-11 14:47] cesardlinx commented on #2
Yo puedo encargarme de este issue si no hay gente trabajando ya en el

[2020-10-11 16:09] israteneda commented on #2
@rpalaciosg me parece que estaba trabajando en este issue, aunque no sé cómo este el avance creo que ya comentara el issue a ver que nos dice

[2020-10-11 16:16] #26 closed, assigned to skcode7

[2020-10-12 13:34] rpalaciosg commented on #2
Hola amigos @israteneda @cesardlinx , si yo estoy trabajando en esto, aun estoy terminandolo estaba luchando con el tailwind, pero a penas este haga el PR, no me quiero dar por vencido.

[2020-10-12 18:14] cesardlinx commented on #2
Oh jaja ok chévere! Si necesitan ayuda déjenme saber

[2020-10-12 19:12] israteneda opened #39 "Crear sección eventos del home"
Como referencia se puede tener #40

![image](https://user-images.githubusercontent.com/20668624/95782127-d5682f00-0c94-11eb-90c2-fb3f99565e4b.png)

Se puede ver más sobre el prototipo en Figma en esta direccción https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1

Cualquier duda se la puede consultar por el chat de [Telegram](https://t.me/javascriptecuador)

[2020-10-13 17:03] #5 closed, assigned to miguel-rios-r

[2020-10-13 17:03] #6 closed, assigned to nobody

[2020-10-13 17:21] israteneda opened #41 "Estilos del sitio TailwindCSS vs Vanilla CSS"
Hola a todos la página de a poco se va convirtiendo en realidad gracias a todos los contribuidores, nos gustaría saber si se prefiere trabajar con CSS Vanilla o TailwindCSS, ya que actualmente Gatsby está configurado con TailwindCSS pero la mayoría de componentes usan CSS normal.

La pregunta es, si les gustaría usar:

- [x]  Vanilla CSS
- [ ]  TailwindCSS
- [ ]  Usar tanto CSS puro como TailwindC

[2020-10-13 17:30] rpalaciosg commented on #41
Que tal amigos yo creo que como no se especifico eso en cada issue desde el inicio, por el momento me iria por la 3ra opcion

- [x]  Usar tanto CSS puro como TailwindCSS en el proyecto

Es verdad hay cosas con tailwind y cosas con css  separado en cada componente.

Que tal si por el momento se permite la mezcla de css normal y tailiwindcss.  Y para ir mejorando vamos creando issues para refactoriz

[2020-10-13 17:35] israteneda opened #42 "Crear página de Código de Conducta"
![image](https://user-images.githubusercontent.com/20668624/95895403-399bf900-0d50-11eb-95bd-798520605eb1.png)

[Aquí](https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1) se puede ver prototipo completo con más detalle.

Si tienes dudas puedes consultarlo en el canal de [Telegram de JavaScript Ecuador](https://t.me/javascriptecuador)

[2020-10-13 17:36] israteneda opened #43 "Crear página de Sponsors"
![image](https://user-images.githubusercontent.com/20668624/95895652-97304580-0d50-11eb-8d94-3e401b92701e.png)

[Aquí](https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1) se puede ver prototipo completo con más detalle.

Si tienes dudas puedes consultarlo en el canal de [Telegram de JavaScript Ecuador](https://t.me/javascriptecuador)

[2020-10-13 17:40] israteneda opened #44 "Crear página de entrada del Blog"
![image](https://user-images.githubusercontent.com/11642622/94997762-d43b5180-0572-11eb-8878-0c568df95298.png)

En el siguiente link puedes el prototipo en Figma para ver los colores y tamaños de cada item

https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1

Cualquier inquietud puedes comentarla aquí o escribir en el [chat de la comunidad en Telegram](https://

[2020-10-13 17:44] israteneda opened #45 "Crear sección ¿Cómo Ayudar? de la página comunidad"
![image](https://user-images.githubusercontent.com/20668624/95896410-cd21f980-0d51-11eb-8d1b-07f4adccb1bb.png)

En el siguiente link puedes el prototipo en Figma para ver los colores y tamaños de cada item

https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1

Cualquier inquietud puedes comentarla aquí o escribir en el [chat de la comunidad en Telegram](https://

[2020-10-13 17:46] israteneda opened #46 "Crear sección Mantenedores de la página Comunidad"
![image](https://user-images.githubusercontent.com/20668624/95896562-08bcc380-0d52-11eb-9f49-3d6d9d1942c1.png)

En el siguiente link puedes el prototipo en Figma para ver los colores y tamaños de cada item

https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1

Cualquier inquietud puedes comentarla aquí o escribir en el [chat de la comunidad en Telegram](https://

[2020-10-13 17:48] israteneda opened #47 "Crear sección Contribuidores de la página de Comunidad"
![image](https://user-images.githubusercontent.com/20668624/95896657-2f7afa00-0d52-11eb-8945-1ce028b4476c.png)

Para mostrar los contribuidores en el README se está utilizando la convención [all-contrubitors](https://allcontributors.org/) es posible que se pueda reutilizar algo de la especificación en esta sección.

En el siguiente link puedes el prototipo en Figma para ver los colores y tamaños d

[2020-10-13 17:50] jordanrjdev commented on #42
Me apunto este y si me podrian pasar el verdadero codigo seria mas genial para tenerlo listo para la produccion y que le puedan hechar un vistazo :)

[2020-10-13 17:53] EduardoAyora commented on #41
opino lo mismo que @rpalaciosg css puro y tailwind

[2020-10-13 18:00] israteneda commented on #42
Claro @jordanrjcode  este es el [código de conducta](https://github.com/javascriptecuador/.github/blob/master/CODE_OF_CONDUCT.md)

[2020-10-13 18:16] cesardlinx commented on #41
Hola amigos, concuerdo con Uds en que se puede usar tailwind y vanilla css, sin embargo hay 2 issues principalmente que tailwind crea y que debemos tener en cuenta:

1. Las classes de tailwind interfieren con el markdown como se pudo constatar en el issue #24, al final cree un fix en el PR #25 para las listas ordenadas, sin embargo los espacios siguen sin ser respetados y no sabemos que otros issu

[2020-10-13 18:49] rpalaciosg commented on #41
Hola @cesardlinx no tenia conocimiento que el issue que se daba en el Markdown de #24 era por tailwindcss, ahora lo entiendo!!
 gracias por mencionarlo. No he usado mucho de tailwindcss pero crees que seria bastante el impacto que causaria en los archivos de Markdown o solo en listas?  O es viable hacer arreglos como lo hiciste para corregir el problema de las listas enlazadas.

Algo que mencionas

[2020-10-13 18:51] cesardlinx commented on #47
Me apunto a ayudar con este feature

[2020-10-13 19:46] cesardlinx commented on #41
Hola @rpalaciosg, bueno el fix que yo di en #25 basicamente es solo un parche y no una solución porque lo que hace es forzar a que la lista ordenada tenga un estilo, y por ejemplo en este caso esta colocando a todas las listas en negrita y con cierto margen, pero y que tal si alguien no quiere una lista en negrita, eso en markdown simplemente se lo manejaria quitando y poniendo ** Ejemplo:  `1. **

[2020-10-13 23:26] skcode7 commented on #39
Me apunto para trabajar en este issue

[2020-10-13 23:29] skcode7 commented on #41
Voto a favor de CSS Puro, personalmente tailwind no me termina de convencer.

[2020-10-14 16:16] #3 closed, assigned to nobody

[2020-10-14 16:27] cesardlinx commented on #41
Si vamos a usar CSS propongo comenzar a usar CSS Modules. Con CSS Modules tenemos la ventaja de que los estilos aplicados a un componente no interfieran con otro, lo cual es un caso muy común ya que las clases que uno crea se aplican globalmente. Con CSS Modules en cambio, dos personas pueden crear una clase con el mismo nombre pero con dos estilos diferentes y no habría problemas.

Para lograr es

[2020-10-14 16:40] israteneda commented on #41
Genial es una buena propuesta creo que si podemos utilizar CSS Modules en el proyecto, algunos mencionaban en el [Telegram](https://t.me/javascriptecuador) también utilizar la especificación [BEM](http://getbem.com/introduction/) para el CSS

[2020-10-14 16:54] cesardlinx commented on #41
Definitivamente, estoy muy de acuerdo en que podemos también usar BEM para nombrar nuestras clases en css.

[2020-10-14 20:28] rpalaciosg commented on #41
Estoy deacuerdo con la propuesta de usar css-modules y BEM para el naming de las clases. Parece que `Vanilla CSS` sera la eleccion, bueno dependiendo de lo que se escoja  seria bueno hacer un code review de los PR  minimo 3 personas para  nombrar clases css o no se si exista algun linter para CSS con los estilos y pautas de BEM, si alguien conoce algo, creo que nos ayudaria tambien.

!Update : Enc

[2020-10-14 23:56] israteneda commented on #41
Creo que ya podemos cerrar el issue amigos y abrir una para migrar de TailwindCSS a CSS puro ahí podrías conversar sobre el linter o las revisiones quisa al principio no deberían ser tan exhaustivas para dar cabida a contribuciones de personas nuevas en el lenguaje

[2020-10-14 23:56] #41 closed, assigned to nobody

[2020-10-15 00:09] israteneda opened #49 "Migrar de TailwindCSS a CSS puro"
Al principio del desarrollo del sitio se planteó usar [TailwindCSS](https://tailwindcss.com/) por la "velocidad de prototipado", pero la mayoría de los estilos del sitio se están construyendo con CSS puro, por esta razón y otras mencionadas en #41 se ha decidido usar CSS puro en vez de TailwindCSS.

Para lo cual se va a ir migrando los componentes que están con TailwindCSS. Además se plantea usar

[2020-10-15 14:33] cesardlinx commented on #49
Hola con todos, para los que recien estan comenzando a usar BEM dejo aqui dos imagenes que resumen toda la metodologia
![1_C2BnEqg97H5Kn69kYWWfWw](https://user-images.githubusercontent.com/25573926/96143949-42fca100-0ec9-11eb-921c-974b3ecfdc27.png)
![5da157b6f3d4a-bemelements (1)](https://user-images.githubusercontent.com/25573926/96143962-45f79180-0ec9-11eb-977f-766b3b71b5b6.png)

[2020-10-15 19:10] israteneda commented on #49
Me parece muy buena referencia la añadiré al archivo CONTRIBUTING.md

[2020-10-16 17:17] rpalaciosg commented on #22
Hola amigos como va este issue? seria bueno actualizar la guia ya que algunos ya van por su segundo PR y no tienen actualizado el fork.

[2020-10-17 20:50] skcode7 commented on #39
Tengo una duda:
En el diseño en Figma, el fondo de las tarjetas de los eventos es de color `#E5E5E5` pero el css asociado al control Card tiene como fondo `#E0E0E0`
En donde debería hacer el cambio para que afecte solo a las tarjetas de los eventos?

[2020-10-17 20:54] skcode7 commented on #39
Creo que ya está.
Le puse una clase `.card` en mi css de eventos.

[2020-10-17 22:57] skcode7 commented on #39
No es la solución, ya que al agregar otras clases para modificar el alto se modifica también de la parte de ciudades.

Entiendo que para evitar esto @cesardlinx comentaba que se puede utilizar ccs.modules, ya hice el cambio en el archivo de estilos y lo puedo utilizar para el estilo de la sección y el título, pero no sé como haría para modificar el estilo de la tarjeta
![imagen](https://user-image

[2020-10-18 01:07] skcode7 commented on #39
Hasta el momento lo tengo así
![imagen](https://user-images.githubusercontent.com/55223838/96357179-e1515800-10bd-11eb-8965-3124479b1a74.png)

Necesito modificar el estilo de la tarjeta, pero no entiendo como hacerlo utilizando **css.modules**. No sé si hago el **PR** así para que alguien más pueda completar esa parte o como podría avanzar para terminarle.

[2020-10-18 01:15] albamaister commented on #22
Hola a todos, voy a tomar este issue

[2020-10-18 02:21] #22 closed, assigned to thegreatyamori

[2020-10-18 13:45] cesardlinx commented on #39
Hola @skcode7! En mi opinión está perfecto me parece genial como está quedando, lo unico que falta ahi son principalmente 3 detalles, de los cuales 2 son super fáciles de cambiar.

1. El tamaño del titulo
Esto lo puedes cambiar añadiendo una prop a la Card llamada topicFontSize

2. El color del texto "Leer más"
Esto tambien lo puedes cambiar con una prop llamada readMoreColor

Al final para resolv

[2020-10-18 13:54] israteneda commented on #39
Genial tu explicación @cesardlinx y muy detallada, como lo ves tú @skcode7 si deseas puedes completar la sección con los comentarios de @cesardlinx o a su vez puedes hacer el pull para que @cesardlinx nos ayude con esa parte o si tienes otra duda la puedes consultar aquí

[2020-10-18 14:00] cesardlinx commented on #13
Yo me puedo encargar de ello!

[2020-10-18 20:32] skcode7 commented on #39
Estoy de acuerdo, voy a hacer los ajustes que indica @cesardlinx y realizar el **PR** para que lo puedan completar.
Gracias por la guía.

[2020-10-19 16:25] #43 closed, assigned to nobody

[2020-10-19 16:25] #46 closed, assigned to nobody

[2020-10-19 16:25] #47 closed, assigned to cesardlinx

[2020-10-20 20:00] #13 closed, assigned to cesardlinx

[2020-10-21 00:10] cesardlinx commented on #44
Me apunto para resolver este issue

[2020-10-21 05:07] albamaister commented on #45
Hola a todos, voy a tomar este issue si nadie mas lo a tomado. ¿Cómo le llamaría el componente de esta sección?

[2020-10-21 14:02] israteneda commented on #45
Podría ir dentro de [community-section](https://github.com/javascriptecuador/web/tree/master/src/components/community-section) con el nombre de `hero` o `community-hero`

[2020-10-21 14:45] israteneda commented on #45
Me equivoqué el  [community-section](https://github.com/javascriptecuador/web/tree/master/src/components/community-section) es un componente del home pensé que era una página.
El componente se podría llamarse `community-hero-section` y podría ser similar al componente [community-section](https://github.com/javascriptecuador/web/tree/master/src/components/community-section).

[2020-10-21 18:43] skcode7 commented on #39
Listo, acabo de hacer el **PR** con las dos correcciones indicadas por @cesardlinx
Para el punto 3, me gustaría probar realizando el cambio en otro **issue**, que opinas @israteneda

[2020-10-22 02:43] israteneda commented on #39
Claro no habría problema @skcode7

[2020-10-22 04:44] skcode7 commented on #31
Voy a trabajar en este tema y de paso lo pruebo creando el issue para corregir la sección de eventos

[2020-10-22 04:51] #45 closed, assigned to nobody

[2020-10-22 04:56] #39 closed, assigned to nobody

[2020-10-22 18:39] israteneda commented on #31
Genial @skcode7

[2020-10-22 19:26] #42 closed, assigned to jordanrjdev

[2020-10-23 07:08] rpalaciosg opened #62 "Agregar tabla de contenidos en CONTRIBUTING.md"
Agregar una tabla de contenidos con Markdown que redireccione a cada uno de los temas en CONTRIBUTING.md.
Esto facilitara el seguimiento de la guia para contribuir.

[2020-10-23 14:48] #7 closed, assigned to jordanrjdev

[2020-10-23 17:16] jordanrjdev commented on #30
Me encargo de este issue

[2020-10-23 17:56] israteneda commented on #30
Genial @jordanrjcode

[2020-10-23 20:47] #2 closed, assigned to rpalaciosg

[2020-10-23 22:18] #30 closed, assigned to nobody

[2020-10-24 05:39] albamaister opened #65 "Agregar responsive a seccion ¿Como ayudar?"
- Tarea a realizar: Agregar responsive a sección ¿Cómo ayudar?

- Descripción: Se agregó responsive en la sección  ¿Cómo ayudar?

- ¿Por qué se realizara?
 Para pantallas pequeñas las descripciones de las cajas se deformaban

- Recomendaciones:

[2020-10-24 21:33] #65 closed, assigned to nobody

[2020-10-25 02:44] skcode7 commented on #31
Tengo una duda,
Por temas de permisos no puedo crear el template en el repositorio de la comunidad, así que lo hice en el mio. Pero cuando termino y genera el commit, se hace el **PR** en el mío.

Como paso el template al repo de la comunidad?

[2020-10-25 03:16] israteneda commented on #31
Habría que crear el template en la carpeta de [`.github`](https://github.com/javascriptecuador/web/tree/master/.github) como los demás templates, y cuando realices el pull ya lo mergeariamos y aparecería el template.
Me parece que ya existe un temple del issue, pero deberíamos migrarlo a la forma más actual de manejar los templates como se muestra en este link: https://docs.github.com/en/free-pro-

[2020-10-25 21:48] skcode7 commented on #31
Listo!
Me costó armar el **PR** pero ya quedó 😜

[2020-10-26 14:45] #31 closed, assigned to nobody

[2020-10-26 19:41] rpalaciosg opened #69 "[BUG] No se resalta el nava menu activo en el componente navabar"
**Describe el bug/error**
No se esta resaltando del menu que esta activo o de la pagina actual.

**Para reproducirlo**
Pasos para reproducir el comportamiento:
1. Ir al sitio de la comunidad https://javascript.ec/
2. Click en cualquier menu del navbar.
3. Aqui a parte de redireccionarme y rederizarme la pagina del menu que clickeamos, debe resaltar con una linea amarilla el menu de la pagina actua

[2020-10-26 20:15] rpalaciosg opened #70 "Add margin content the site"
**Tarea a realizar**
Es necesario darle un margin fijo a todo el content del sitio para que este un poco mas parecido al protitipo en figma, tomando en cuenta lso tamanios del vieport responsive.
![image](https://user-images.githubusercontent.com/11642622/97227009-daec6b80-17a2-11eb-8e46-b5cd375e9fc2.png)
![image](https://user-images.githubusercontent.com/11642622/97223383-af1ab700-179d-11eb-9580-

[2020-10-27 13:00] skcode7 opened #72 "[Mejora] Modificar la sección de Eventos"
**Tarea a realizar**
Agregar props al componente **Card** para que permita modificar el tamaño de la tarjeta y la imagen

**¿Por qué se realizará?**
Para ajustar la sección al [diseño](https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=0%3A1 "Diseño en Figma")

**Recomendaciones**
Cambiar el componente Card y agregar una prop mediante la cual se controle la altura p

[2020-10-27 17:09] cesardlinx commented on #72
Me apunto para arreglar esa parte en la sección

[2020-10-27 17:29] jordanrjcode commented on #9
Me apunto este issue

[2020-10-27 18:07] #44 closed, assigned to nobody

[2020-10-27 21:57] rpalaciosg opened #74 "[MEJORA] Redireccionar a urls correctos en iconos en comunidad en home"
**Tarea a realizar**
Redireccionar a los enllaces respectivos cada icono que se encuentra en la seccion 'Descripcion de la comunidad' en el home.
- Icono github: https://github.com/javascriptecuador
- Icono telegram: https://t.me/javascriptecuador
- Icono twitter:  https://twitter.com/jsecuador_
- Icono eventbrite: https://www.eventbrite.com/o/javascript-ecuador-29109297643?aff=eand

**¿Por qué se

[2020-10-28 04:27] albamaister commented on #62
Voy a tomar este issue

[2020-10-28 04:32] israteneda commented on #62
ok genial @albamaister

[2020-10-28 15:13] #62 closed, assigned to nobody

[2020-10-28 17:24] #69 closed, assigned to nobody

[2020-10-28 17:24] #72 closed, assigned to nobody

[2020-10-28 19:12] albamaister opened #77 "[BUG]Tabla de contenidos en CONTRIBUTING.md"
**Describe el bug/error**
Las redirecciones de algunos enlaces en la nueva tabla de contenidos de CONTRIBUTING.md no esta funcionando. Yo mismo tome ese issue el cual era el issue 62 y me doy cuenta del error ahora. Funciona en el preview de Visual Studio Code pero no funciona en GitHub.

**Para reproducirlo**
Pasos para reproducir el comportamiento:
1. Ir al archivo CONTRIBUTING.md en GitHub y ve

[2020-10-28 19:13] albamaister commented on #77
Ahora me percato del error, ahora mismo lo voy a resolver

[2020-10-28 20:05] #77 closed, assigned to nobody

[2020-10-28 20:08] jordanrjdev commented on #74
me apunto este issue

[2020-10-28 20:42] rpalaciosg commented on #74
genial, dale!!

[2020-10-29 03:04] skcode7 opened #79 "[BUG] Tamaño de la última tarjeta de Ciudades"
**Describe el bug/error**
Al reducir el zoom del navegar a menos del 80% la última tarjeta de ciudades no se presenta del mismo tamaño que el resto

**Para reproducirlo**
Pasos para reproducir el comportamiento:
1. Ir a 'Home'
2. Scroll down a la sección **ciudades**
3. Reducir el zoom a menos del 80%
4. Ver el error

**Comportamiento esperado**
Que la última tarjeta se mantenga del mismo tamaño q

[2020-10-29 03:14] skcode7 commented on #9
No sé como avanza este tema y si pueda dar una mano.
Me falta un **PR** 🙈

[2020-10-29 03:19] israteneda commented on #9
Si deseas puedes realizarlo, me parece que por el momento @Seburath anda atareado con el proyecto [lira](https://github.com/pythonecuador/lira). ¿Que dices @Seburath?

[2020-10-29 03:25] Seburath commented on #9
Si! Tomalo! @skcode7
Perdon @israteneda , me deje llevar por lo de PyEc... :(

[2020-10-29 03:34] israteneda commented on #9
No problem @Seburath 😄 el proyecto que están lanzando está muy interesante

[2020-10-29 05:24] rpalaciosg commented on #79
Gracias @skcode7 por compartir el error. Creo que es un problema puntual por que no logro reproducirlo.

![image](https://user-images.githubusercontent.com/11642622/97528907-c794f800-197c-11eb-8efb-2a72fcd81131.png)

Talvez alguna otra indice que nos puedas compartir.

[2020-10-31 10:11] skcode7 commented on #79
Te cuento que en el caso de Chrome, me ocurre cuando bajo el zoom a menos del 67%
![imagen](https://user-images.githubusercontent.com/55223838/97776580-59486500-1b37-11eb-82b9-b299f6f14bb4.png)

[2020-10-31 10:20] skcode7 commented on #9
Les comparto el resultado que tengo, seguro se puede refactorizar, pero también hice algo para la parte responsive
![imagen](https://user-images.githubusercontent.com/55223838/97776636-bfcd8300-1b37-11eb-894a-a226f3a429ef.png)

La parte de redes sociales me dio problemas (todavía me cuesta el tema de CSS) quise utilizar el componente que ya está para el **Hero** pero veo que en el **footer** deben

[2020-10-31 17:10] israteneda commented on #9
Claro no hay problema @skcode7 sube tu **PR**. Se podría crear otro issue para la parte de las redes. Si es buena idea reutilizar el componente lo que cambiaría sería el tamaño de los iconos y el número. Pero momentáneamente si alguien lo hace en componentes separados no habría problema, crearíamos un issue para refactorizar el componente de los iconos y tenerlo en un solo componente.

[2020-10-31 23:40] #9 closed, assigned to Seburath

[2020-11-01 12:02] rpalaciosg commented on #9
Genial @skcode7

[2021-01-04 17:04] rpalaciosg opened #82 "[NUEVO] Agregar url de cuentas en menu 'CUENTAS'"
**Tarea a realizar**
Agregar  la redireccion del siguiente url [documento cuentas Javascript Ecuador](https://docs.google.com/spreadsheets/d/1nKXGaYJVTd8JTNIkTnz5wwg-z5QmxT95RAN_b69yog4/edit?usp=sharing)
**https://docs.google.com/spreadsheets/d/1nKXGaYJVTd8JTNIkTnz5wwg-z5QmxT95RAN_b69yog4/edit?usp=sharing**
 al menu **CUENTAS** .

![image](https://user-images.githubusercontent.com/11642622/1035591

[2021-03-16 01:12] thegreatyamori opened #83 "[BUG] Espacio en el contenedor y barra de slides. Sección Comunidad"
**Describe el bug/error**
Se debe mejorar la presentación del slider de Comunidad. Actualmente por diferencia de tamaños en las imágenes del slider, no se está visualizando correctamente el componente. Pero se debe añadir una pequeña separación entre el contenedor de imágenes y la barra de slides.

**Para reproducirlo**
Pasos para reproducir el comportamiento:
1. Ir a 'localhost:8000 || javascript

[2021-03-16 01:13] thegreatyamori opened #84 "[MEJORA] Cambiar los colores de los botones. Sección Comunidad"
**Tarea a realizar**
En página Home, en la sección Comunidad actualmente hay tres botones:
- Conocer a la comunidad
- Como ayudar?
- Código de Conducta

La mejora a realizar consiste en cambiar la presentación colorista de los mismos. Tanto los estilos base como los estilos en `hover` de cada botón.

**¿Por qué se realizará?**
El color amarillo no permite visualizar con claridad el titulo de cada

[2021-03-16 01:53] thegreatyamori opened #85 "[MEJORA] Mover seccion 'Como Ayudar' de Comunidad a Home"
**Tarea a realizar**
Se necesitan mover las secciones 'Como Ayudar' y 'Contribuidores' de la página Comunidad a la página Home.

**¿Por qué se realizará?**
El motivo de realizar este cambio se debe a un reestructuración del sitio a SPA (Single Page Application).
Por esta razón la página 'Comunidad' desaparece y su contenido se fusiona en Home (a excepción de la sección 'Mantenedores').

**Recomend

[2021-03-16 02:15] thegreatyamori opened #86 "[MEJORA] Cambiar href de Eventos en el header"
**Tarea a realizar**
Se necesita que el link Eventos en el header apunte hacia la sección 'Eventos' de home.

**¿Por qué se realizará?**
El motivo de realizar este cambio se debe a una reestructuración del sitio a SPA (Single Page Application).
Por esta razón la página 'Eventos' se mantiene inactiva hasta una próxima implementación.

**Recomendaciones**
Para desarrollar esta tarea:
- En `src\compo

[2021-03-16 02:19] thegreatyamori opened #87 "[MEJORA] Cambiar href de Comunidad en el header. Requiere #85 completo"
**Tarea a realizar**
Se necesita que el link Comunidad en el header apunte hacia la sección 'Como ayudar' de home.
Además debe cambiar de nombre a '¿Cómo Ayudar?'.

**¿Por qué se realizará?**
El motivo de realizar este cambio se debe a una reestructuración del sitio a SPA (Single Page Application).

**Recomendaciones**
Para desarrollar esta tarea:
- Es necesario que #85 este completo
- En `src\com

[2021-03-16 02:28] thegreatyamori opened #88 "[MEJORA] Cambiar href de Ciudades en el header"
**Tarea a realizar**
Se necesita que el link Ciudades en el header apunte hacia la sección 'Ciudades' de home.

**¿Por qué se realizará?**
El motivo de realizar este cambio se debe a una reestructuración del sitio a SPA (Single Page Application).
Por esta razón la página 'Ciudades' se mantiene inactiva hasta una próxima implementación.

**Recomendaciones**
Para desarrollar esta tarea:
- En `src\co

[2021-03-16 02:51] thegreatyamori commented on #79
En firefox sucede lo mismo.
![image](https://user-images.githubusercontent.com/20387293/111248173-62fad280-85d7-11eb-89ba-e332e4409a83.png)
 Parece que falta de definir un max-width en la clase card-module
[code]
![image](https://user-images.githubusercontent.com/20387293/111248812-a43fb200-85d8-11eb-92fb-08242fe6d0b8.png)

[2021-03-16 18:45] thegreatyamori commented on #79
@rpalaciosg yo puedo ayudar con este issue.

[2021-03-16 18:46] thegreatyamori commented on #8
@rpalaciosg puedo ayudar construyendo la estructura y diseño del componente

[2021-03-16 19:14] rpalaciosg commented on #8
hola @thegreatyamori claro dale.

[2021-03-16 19:34] rpalaciosg commented on #79
@thegreatyamori claro que si dale, nos comentas cualquier cosa.

[2021-03-16 20:16] rpalaciosg opened #89 "Crear cuenta en bitwarden para manejo de credenciales"
Esto no forma parte del desarrollo del sitio web, pero formara parte del proyecto ya que es algo importante para la comunidad.

**Tareas a realizar**
Crear y probar cuenta gratuita en [bitwarden](https://bitwarden.com/) para el manejo y cifrado de archivos al momento de compartir credenciales.

**Objetivo**
Probar sus ventajas y en un futuro decidir si debemos pasar a un plan de pago.

[2021-03-17 01:55] thegreatyamori commented on #89
Ayer me cambié de lastpass a bitwarden, la mejor hasta el momento. Tanto para almacenar contraseñas como para enviar archivos cifrados.

[2021-03-17 02:15] thegreatyamori commented on #74
Que se necesita arreglar en este issue?

[2021-03-17 06:43] rpalaciosg commented on #89
Hola @thegreatyamori genial saber eso, entonces vamos por buen camino, ver como nos va, y si es posible cambiarnos a un plan premiun y usar alguna app de doble autenticacion. Por el momento esta creada la cuenta, la ocmunidad y aniadidos varios logins de cuentas de la comunidad. close #89

[2021-03-17 06:44] #89 closed, assigned to rpalaciosg

[2021-04-05 14:53] #79 closed, assigned to thegreatyamori

[2021-06-01 15:03] elcordova commented on #82
parece que si solo se convierte en un elemento **anchor** no debería estar en el **navbar**

[2021-06-01 15:23] rpalaciosg commented on #82
Hola @elcordova parece somos coterraneos (soy de Machala tambien jeje), bienvenido. Y tienes razon, en su momento esto fue provisional, hasta pensar una mejor forma de hacerlo. voy agregar las actualizaciones del [diseño en figma](https://www.figma.com/file/w2VP8mKwNivTOGqsdvGMVe/Prototipo-Web-Ecuador.js?node-id=1226%3A17289)

- Pienso que deberia estar en el footer
- Podria tener una pagina dedic

[2021-06-01 15:49] elcordova commented on #82
que tal @rpalaciosg, te parece si en el **footer** se coloca la etiqueta anchor y en la pagina de **cuentas** un iframe con la hoja de excel

saludos crack!

[2021-06-09 22:59] rpalaciosg commented on #82
@elcordova me parece bien, si deseas te podemos asignar este issue y  agregas los cambios en un PR, aqui una [guia de como contribuir](https://github.com/javascriptecuador/web/blob/master/CONTRIBUTING.md), si tienes dudas puedes consultar por aqui o en el chat de [Telegram](https://t.me/javascriptecuador).

😄

[2021-11-25 15:00] Leninner commented on #88
Hola, trabajaré sobre este issue

[2021-11-25 17:43] #88 closed, assigned to nobody